<div class="widgets">

  <div class="row">
    <div class="col-md-12">
      
       <form [formGroup] = "myForm"  ><!--(ngSubmit)="onSubmit(staticModal)"-->
         <ba-card title="General Information" baCardClass="with-scroll">
           <div class="row">
                <div class="form-group" class="col-md-4"  >
                   <label for="firstName">First Name<small style="color: red">*</small></label>
                  
                   <input type="text" class="form-control" required id="firstName" #firstName placeholder="Enter your first name" formControlName="txtFirstName">
                     
                </div>
               <div class="form-group" class="col-md-4">
                   <label for="middleName">Middle Name</label>
                   <input type="text" class="form-control" id="middleName" placeholder="Enter your middle name" formControlName="txtMiddleName">
                  
               </div>
               <div class="form-group" class="col-md-4" >
                   <label for="lastName">Last Name<small style="color: red">*</small></label>
                   <input type="text" class="form-control" required id="lastName" placeholder="Enter your last name" formControlName="txtLastName" >
               </div>
           </div>
           <br>

           <div class="row">
                <div class="col-md-4">
                     <div class="form-group" >
                         <label class="control-label">Email Id<small style="color: red">*</small></label>
                         <input type="email" class="form-control" required formControlName="txtEmailId" #email (blur)="checkEmail(email)">
                          <!--<div *ngIf="!myForm.get(['txtEmailId']).valid">
                                      <small style="color: red">Not valid email : mail should include @ and . </small>
                          </div>-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                         <label class="control-label">Date Of Birth<small style="color: red">*</small></label>
                         <input type="date" class="form-control" required formControlName="dtDOB" >
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                            <label for="gender">Gender<small style="color: red">*</small> </label>
                            <div class="form-group" *ngFor="let g of genders">
                                <input type="radio" required formControlName="intGenderId" [value]="g.value"> {{g.viewValue}}
                            </div>
                  </div>
             </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                     <div class="form-group">
                         <label class="control-label">Father Name<small style="color: red">*</small></label>
                         <input type="text" class="form-control" required formControlName="txtFatherName">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                         <label class="control-label">Father Education</label>
                         <input type="text" class="form-control"  formControlName="txtFEducationalQualification">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <label class="control-label">Father Occupation</label>
                        <input type="text" class="form-control"  formControlName="txtFOccupation" >
                    </div>
               </div>
             </div>
             <div class="row">
                 <div class="col-md-4">
                    <div class="form-group">
                         <label class="control-label">Mother Name<small style="color: red">*</small></label>
                         <input type="text" class="form-control" required formControlName="txtMotherName">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                         <label class="control-label">Mother Education</label>
                         <input type="text" class="form-control" formControlName="txtMEducationalQualification" >
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Mother Occupation</label>
                        <input type="text" class="form-control" formControlName="txtMOccupation">
                    </div>
               </div>
            </div>

           

          <div class="row">
              <!--<div class="col-md-4">
                  <div class="form-group">
                            <label for="gender">Gender<small style="color: red">*</small> </label>
                            <div class="form-group" *ngFor="let g of genders">
                                <input type="radio" required formControlName="intGenderId" [value]="g.value"> {{g.viewValue}}
                            </div>
                  </div>
             </div>-->
              <div class="col-md-4">
                <div class="form-group">
                        <label for="religion">Religion<small style="color: red">*</small></label><br>
                        <select placeholder="religions"  *ngIf="religions.length >0" name="religions" class="form-control" required formControlName="intReligionId" >
                            <option  *ngFor="let religion of religions" value="{{religion.intReligionId}}"  class="form-control" required >
                                      {{religion.txtReligionName}}
                            </option>
                        </select>
                 </div>
              </div>
              <div class="col-md-4">
                 <div class="form-group">
                        <label class="control-label">Social Catagory<small style="color: red">*</small></label>
                          <select placeholder="Social Catagory"  *ngIf="socialCatagory.length >0" required name="socialCatagory" class="form-control" formControlName="intSocialCategoryId" >
                            <option  *ngFor="let catagory of socialCatagory" value="{{catagory.intSocialCategoryId}}"  class="form-control" required >
                                      {{catagory.txtSocialCategory}}
                            </option>
                        </select>
                 </div>
               </div>
              <div class="col-md-4">
                <div class="form-group ">
                       <label class="control-label">Blood Group</label>
                       <input type="text" class="form-control" formControlName="bloodGroup">
                </div>
               </div>
          </div>
          <div class="row">
              <!--<div class="col-md-4">
                <div class="form-group ">
                        <label class="control-label">Aadhar No<small style="color: red">*</small></label>
                        <input type="text" class="form-control" OnlyNumber="true"  required minlength="12" maxlength="12" formControlName="txtAadharNumber" >
                </div>
               </div>-->
               <div class="col-md-4">
                 <div class="form-group">
                        <label class="control-label">Mother Tongue<small style="color: red">*</small></label>
                         <select placeholder="motherTongue"   name="motherTongue" required class="form-control" formControlName="intmothertongueId" >
                            <option  *ngFor="let motherTongue of m_tongue" value="{{motherTongue.intmothertongueId}}"  class="form-control" >
                                      {{motherTongue.txtmothertongue}}
                            </option>
                        </select>
                 </div>
               </div>
              <div class="col-md-4">
                 <div class="form-group">
                        <label class="control-label">Belong To BPL<small style="color: red">*</small></label>
                        <select class="form-control" id="belongToBPL" required  formControlName="blBelongToBPL" (change)="disableCardNumber($event.target.value)">
                             <option  *ngFor="let bpl of belongToBPL" [value]="bpl.value" class="form-control" >
                                          {{bpl.viewValue}}
                             </option>
                        </select>
                 </div>
              </div>
              <div class="col-md-4">
                <div class="form-group" *ngIf="disabletable">
                        <label class="control-label">BPL Card Number<small style="color: red">*</small></label>
                        <input type="text" class="form-control" required formControlName="txtBPLCardNo" >
                </div>
               </div>
           </div>
           <div class="row">
              <!--<div class="col-md-4">
                <div class="form-group" *ngIf="disabletable">
                        <label class="control-label">BPL Card Number<small style="color: red">*</small></label>
                        <input type="text" class="form-control" required formControlName="txtBPLCardNo" >
                </div>
               </div>-->
               <div class="col-md-4">
                 <div class="form-group">
                        <label class="control-label">Disabled<small style="color: red">*</small></label>
                          <select class="form-control" id="isDisabled" required formControlName="isDisabled" (change)="onClickeDisabled($event.target.value)">
                             <option  *ngFor="let disable of Disabled" [value]="disable.value"  class="form-control" >
                                          {{disable.viewValue}}
                             </option>
                        </select>
                 </div>
               </div>
              <div class="col-md-4">
                 <div class="form-group" *ngIf="isDisabled">
                        <label class="control-label">Disability Name<small style="color: red">*</small></label>
                        <select placeholder="disabilities"  *ngIf="disabilities.length >0" required name="disabilities" class="form-control" formControlName="intDisabilityId" >
                            <option  *ngFor="let disability of disabilities" value="{{disability.intDisabilityChildId}}"  class="form-control" required >
                                      {{disability.txtDisability}}
                            </option>
                        </select>
                 </div>
              </div>
              <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Locality<small style="color: red">*</small></label>
                        <input type="text" class="form-control" required formControlName="txtLocality">
                    </div>
                </div>
           </div>
          
            <div class="row">
                <!--<div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Locality<small style="color: red">*</small></label>
                        <input type="text" class="form-control" required formControlName="txtLocality">
                    </div>
                </div>-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Taluk<small style="color: red">*</small></label>
                        <select placeholder="taluk"  *ngIf="taluk.length >0" name="taluk" class="form-control" formControlName="txtTaluk" (change)="onSelectTaluk($event.target.value)">
                            <option  *ngFor="let tal of taluk" value="{{tal.intTalukId}}"  class="form-control" required >
                                      {{tal.txtTalukName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <label class="control-label">District<small style="color: red">*</small></label>
                        <select placeholder="district"  *ngIf="district.length >0" name="cities" class="form-control" formControlName="txtDistrict" >
                            <option  *ngFor="let dist of district" value="{{dist.intDistrictId}}"  class="form-control" required >
                                      {{dist.txtDistrictName}}
                            </option>
                        </select>
                    </div>
               </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">State<small style="color: red">*</small></label>
                        <select placeholder="taluk"  *ngIf="states.length >0" name="taluk" class="form-control" formControlName="intStateId">
                            <option  *ngFor="let stste of states" value="{{stste.intStateId}}"  class="form-control" required >
                                      {{stste.txtStateName}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                 
                 <div class="col-md-4">
                 <div class="form-group">
                        <label class="control-label">Nationality<small style="color: red">*</small></label>
                         <select  *ngIf="countries.length >0" name="country" class="form-control" formControlName="txtNationality" >
                            <option  *ngFor="let country of countries" value="{{country.intCountryId}}"  class="form-control" required >
                                      {{country.txtCountryName}}
                            </option>
                        </select>
                 </div>
               </div>
               <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">City<small style="color: red">*</small></label>
                        <select placeholder="Cities"  *ngIf="cities.length >0" name="cities" class="form-control" formControlName="intCityId" >
                            <option  *ngFor="let city of cities" value="{{city.intCityId}}"  class="form-control" required >
                                      {{city.txtCityName}}
                            </option>
                        </select>
                    </div>
                 </div>
                 <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Pin Code<small style="color: red">*</small></label>
                        <input type="text" class="form-control" OnlyNumber="true" minlength="6" maxlength="6" required formControlName="txtPincode">
                    </div>
                 </div>
                </div>
                    <div class="row">
                       <div class="col-md-6">
                          <div class="form-group ">
                             <label for="permanentAdderess">Permanent Address<small style="color: red">*</small> </label>
                             <textarea placeholder="Enter Permanent address" class="form-control" id="permanentAdderess" formControlName="txtPerAddress"></textarea>
                          </div>
                          <!--<div *ngIf="!myForm.get(['txtPerAddress']).valid">
                                      <small style="color: red">Please Enter permanent address</small>
                          </div>-->
                       </div>
                       <div class="col-md-6">
                         <div class="form-group">
                            <label for="currentAdderess">Current Address</label>
                            <textarea placeholder="Enter current address" class="form-control" id="currentAdderess" formControlName="txtTempAddress"></textarea>
                         </div>
                       </div>
                     </div>
                      <!--<div class="row">
                       
                        <div  class="col-md-6">
                            <div class="form-group">
                               <label for="mobileNumber">Mobile Number<small style="color: red">*</small></label>
                               <input  type="text" class="form-control" maxlength="10" required minlength="10" #mobileNumber (blur)="getPhoneNo(mobileNumber.value)" OnlyNumber="true" name="mobileNumber" placeholder="Enter your mobileNumber" >
                            </div>
                        
                       </div>
                       </div>-->

         </ba-card>      
                 <!--Student Registration starts here-->
           <ba-card title="Official Information" baCardClass="with-scroll">
                 <div class="row">
                 <div class="form-group" class="col-md-4">
                      <label for="class">Class<small style="color: red">*</small></label>
                    <select *ngIf="classes.length >0"  class="form-control" required formControlName="intClassId">
                         <option *ngFor="let class of classes" value="{{class.class_id}}" class="form-control">
                             {{class.class_Name}}
                         </option>
                    </select>
                 </div>
                 <div class="form-group" class="col-md-4" >
                      <label for="section">Section</label>
                       <select placeholder="Sections"  *ngIf="sections.length >0"  name="section" class="form-control" formControlName="intSectionId" >
                            <option  *ngFor="let section of sections" value="{{section.section_id}}"  class="form-control" required >
                                      {{section.section_Name}}
                            </option>
                        </select>
                 </div>
                 <div class="form-group" class="col-md-4">
                      <label class="control-label">User Group<small style="color: red">*</small></label>
                        <select placeholder="groupname"  *ngIf="groupname.length >0" required name="groupname" class="form-control" formControlName="group_name" (change)="groupNameValidation($event.target.value)"   >
                            <option  *ngFor="let group of groupname" value="{{group.group_name}}"  class="form-control" required >
                                      {{group.group_name}}
                            </option>
                       </select>
                       <div *ngIf="userGroup">
                                  <small style="color: red">Type should be student</small>
                      </div>
                </div>
            </div>
            
            <br>
            <div class="row">
                 <div class="form-group" class="col-md-4">
                     <label class="control-label">Student Aadhar No</label>
                        <input type="text" class="form-control" OnlyNumber="true"   minlength="12" maxlength="12" formControlName="txtAadharNumber" >
                 </div>
                 <div class="form-group" class="col-md-4" >
                      <label class="control-label">Father Aadhar No</label>
                        <input type="text" class="form-control" OnlyNumber="true"   minlength="12" maxlength="12" formControlName="fatherAadharNo" >
                 </div>
                 <div class="form-group" class="col-md-4">
                       <label class="control-label">Mother Aadhar No</label>
                        <input type="text" class="form-control" OnlyNumber="true"   minlength="12" maxlength="12" formControlName="motherAadharNo" >
                </div>
            </div>           
          
           
               <br>  <br>
               <div class="row">
                <div class="col-md-6">
                    <div class="form-group">              
                        <label class="control-label" for="enrolmentNumber">Enrolment Number</label>
                        <input type="text" class="form-control"  formControlName="txtStudentEnrollmentNumber">
                    </div>           
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                          <label class="control-label" for="dateOfAdmission">Date Of Admission<small style="color: red">*</small></label>
                          <input type="date" class="form-control" required formControlName="dtAdmissionDate">
                     </div>
                </div>
                
            </div>
          <div class="row">
          
                <div class="form-group" class="col-md-6">
                      <label class="control-label" for="affilationid">Affilation To </label>
                        <select placeholder="affilation"    class="form-control" formControlName="intAffiliationId">
                            <option  *ngFor="let affiliation of affiliations" value="{{affiliation.intAffiliationId}}"  class="form-control">
                                     {{affiliation.txtAffiliation}}
                            </option>
                        </select>
               </div>
               <div class="form-group" class="col-md-6">
                       <label for="parentsAnnualIncome">Parents Annual Income</label>
                       <input type="text" class="form-control" OnlyNumber="true"  formControlName="nmParentsAnnualIncome">
               </div>
             
          </div><br>
          <div class="row">
                <div class="col-md-6">
                    <div class="form-group">              
                        <label class="control-label" for="fatherMobileNumber">Father Mobile Number<small style="color: red">*</small></label>
                        <input type="text" class="form-control" OnlyNumber="true" required minlength="10" maxlength="10" formControlName="txtFMobileNumber">
                    </div>           
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                          <label class="control-label" for="txtFOtherNumber">Father Alternative Number</label>
                          <input type="text" class="form-control" OnlyNumber="true" formControlName="txtFOtherNumber" minlength="10" maxlength="10">
                     </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">              
                        <label class="control-label" for="motherMobileNumber">Mother Mobile Number</label>
                        <input type="text" class="form-control" OnlyNumber="true" formControlName="txtMMobileNumber" minlength="10" maxlength="10">
                    </div>           
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                          <label class="control-label" for="motherAlternativeNumber">Mother Alternative Number</label>
                          <input type="text" class="form-control" OnlyNumber="true" formControlName="txtMOtherNumber" minlength="10" maxlength="10">
                     </div>
                </div>
                
            </div>
          <div class="row">
                <div class="col-md-6">
                    <div class="form-group">              
                        <label class="control-label" for="studentCaste">Student Caste<small style="color: red">*</small></label>
                        <input type="text" class="form-control" required  formControlName="txtStudentCaste">
                    </div>           
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                          <label class="control-label" for="studentCasteCertificateNumber">Student Caste Certificate No</label>
                          <input type="text" class="form-control" formControlName="txtStudentCasteCertificateNo">
                     </div>
                </div>
               
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">              
                        <label class="control-label" for="fatherCaste">Father Caste</label>
                        <input type="text" class="form-control"  formControlName="txtFathersCaste">
                    </div>           
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                          <label class="control-label" for="fatherCasteCertificateNumber">Father Caste Certificate No</label>
                          <input type="text" class="form-control" formControlName="txtFathersCasteCertificateNo">
                     </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">              
                        <label class="control-label" for="motherCaste">Mother Caste</label>
                        <input type="text" class="form-control"  formControlName="txtMothersCaste">
                    </div>           
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                          <label class="control-label" for="motherCasteCertificateNumber">Mother Caste Certificate No</label>
                          <input type="text" class="form-control" formControlName="txtMothersCasteCertificateNo">
                     </div>
                </div>
                
            </div>
            
           
                      <!--Previous School details-->
            <div class="row">
                   <h3>Previous school details</h3>
               </div><br>  
                <div class="row">
                <div class="col-md-6">
                    <div class="form-group">              
                        <label class="control-label" for="txtTransferCertificateNo">Transfer certificate No</label>
                        <input type="text" class="form-control"  formControlName="txtTransferCertificateNo">
                    </div>           
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                          <label class="control-label" for="dtTransferCertificateDate">Transfer certificate Date</label>
                          <input type="date" class="form-control" formControlName="dtTransferCertificateDate">
                     </div>
                </div>
                
            </div>
            <div class="row">
                 <div class="form-group" class="col-md-6" >
                      <label for="previousSchoolName">Previous School Name</label>
                       <textarea placeholder="Enter previous School Name" class="form-control" id="previousSchoolName" formControlName="txtPreviousSchoolName"></textarea>
                 </div>
                 <div class="form-group" class="col-md-6">
                      <label for="previousSchoolAddress">Previous School Address</label>
                      <textarea placeholder="Enter previous School Address" class="form-control" id="previousSchoolAddress" formControlName="txtPreviousSchoolAddress"></textarea>
                 </div>
                 
           </div><br>

           
                     
                    
                     <br>
                     <div class="row">
                          <button type="submit"  class="btn btn-primary pull-right" >Submit</button>
                     </div>
  
         </ba-card>
       </form>
  </div>
  </div>
</div>

<!--<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Student Registration Successfully completed............</h4>
      </div>
      <div class="modal-body">
        Your Registration No is <b>{{registrationId}}</b>
      </div>
      <div class="modal-footer">
       <button class="btn btn-primary confirm-btn" (click)="staticModal.hide()">Ok</button>
               <!--<button class="btn btn-primary confirm-btn" (click)="print();ProfilePage()">Print</button>
      </div>
    </div>
  </div>
</div>-->