<!--<div class="mainsection block" style="background-color: #000099 !important;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <img src="../../../../../assets/new-images/Dashboard logo.png" alt="logo" class="img-repsonsive">
      </div>
      <br>

      <h2 class="schoolname">Podar International School</h2>

      <div class="wrapper">
        <form class="form-signin">
          <h4 class="form-signin-heading">User Login</h4>

          <input type="text" class="form-control" name="username" placeholder="Email or Mobile number" style="color: #a6adbc;">
          <input type="password" class="form-control" name="password" placeholder="Password" style="color: #a6adbc;">



          <button class="btn btn-lg btn-primary btn-block" type="submit" style="border-radius: 4px;">Login</button>

          <span class="pull-right">
                                <a href="#">forgot Password</a>
                                </span>



        </form>

      </div>



      <footer>
        <div class="footsec">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-6">
                  <h6>Copyright GlobexWorld @ 2016.All rights reserved</h6>
                </div>
                <div class="col-sm-6">
                  <div class="contactsec">
                    <h6>Terms of Service | Privacy Policy | Contact Us</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      </div>
    </div>
  </div>-->
<div class="container-fluid" style="background-color:  #000099 !important;">
  <div class="mainsection block">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <img src="../../../../../assets/new-images/Dashboard logo.png" alt="logo" class="img-repsonsive">
      </div>
      <br>
      <h2 class="schoolname">Podar International School</h2>
      <div class="wrapper">
        <form class="form-signin">
          <h4 class="form-signin-heading">User Login</h4>
          <input type="text" class="form-control" name="username" placeholder="Email or Mobile number" style="color: #a6adbc;">
          <input type="password" class="form-control" name="password" placeholder="Password" style="color: #a6adbc;">
          <button class="btn btn-lg btn-primary btn-block" type="submit" style="border-radius: 4px;">Login</button>
          <span class="pull-right">
        <a href="#">forgot Password</a>
        </span>


        </form>

      </div>
    </div>
  </div>
</div>