




option{
     height: 28px;
     border-radius: 2px;
     background-color: #ffffff;
     border: solid 1px #ededed;
}

.img-size{
    width: 150px;
  height: 140px;
  background-color: #d8d8d8;
}











