// @import '../../theme/sass/auth';
.wrapper {	
   
    margin: 70px 0px 0px 20px;
    margin-right: 0px;
    margin-left: 0px;
}

.row {
    
    margin: 0px 0px 0px 0px;
  
}



.form-signin {
  max-width: 480px;
  height: 350px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
 border-radius: 4px;
 margin: 0 auto;
 /*margin: 0px 0px 0px 447px;*/
}
  .form-signin-heading{
   height: 19px;
   font-size: 18px;
   font-weight: 600;
   text-align: center;
   color: #3c5a9a;
}
	.checkbox {
	  
	   margin: 2px 0px 40px 129px;
    color: #3c5a9a;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
	  opacity: 0.4;
	}

// 	input[type="text"] {
// 	  margin-bottom: 36px;
// 	  border-bottom-left-radius: 0;
// 	  border-bottom-right-radius: 0;
//        opacity: 0.5;
//   border: solid 2px #3c5a9a;
//    border-top: none;
//       border-right: none;
//       border-left: none;
//       border-radius: 0px;
//       padding: 13px 0px 7px 0px;
//  margin: -16px 0px 0px 0px;
// 	}


    .login-input{
    margin-bottom: 25px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
       opacity: 0.5;
       border: solid 2px #3c5a9a;
      border-top: none;
      border-right: none;
      border-left: none;
      border-radius: 0px;
      padding: 13px 0px 0px 0px;
}

.form-signin-heading {
    
    margin: 2px 0px 40px px;
    color: #000099;
}
.schoolname{
	color: #ffcb00;
	float: left;
    width: 100%;
    margin: 0px 0px 0px 0px;
text-align: center;
}

.login_page_logo img {
    vertical-align: middle;
    margin: 45px 0px 0px 0px;
}
.login_page_logo{
   text-align:center;
}


.footsec{
    
    float: left!important;
    font-family: opensans !important;
    text-align: left !important;
    color: rgba(255, 255, 255, 0.8) !important;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 85px 0px 0px 0px;
padding: 0px 0px 0px 195px;
}
// .h4, .h5, .h6, h4, h5, h6 {
//    margin-top: 10px;
// margin-bottom: 10px;
// margin-left: -216px;

// }
.contactsec{
	float: right;
	margin: 0px 0px 0px 0px;
}
.p{
text-align: center;
color: #3c5a9a;
margin: -34px 0px 0px 0px;
padding: 0px 0px 63px 0px;
}

.body-bck {
	background-color: #476ab3 !important;	
    height: 709px;
}
.login-btn{
//     width: 416px;
//   height: 48px;
  color: #ffffff;
  border-radius: 4px;
  background-image: linear-gradient(to right, #476ab3, #293f6e);
}