<!--<div class="auth-main">
  <div class="auth-block">
    <h1>AI-SMS-NG-4-DEV-R-001</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
      <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">


        <div class="offset-sm-1 col-sm-10">
          <input [formControl]="email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">


        <div class="offset-sm-1 col-sm-10">
          <input [formControl]="password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-1 col-sm-10">
          <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth">Sign in</button>
          <a routerLink="/forgot-password" class="forgot-pass">Forgot password?</a>
        </div>
      </div>

    </form>

    <div *ngIf="(!isLoginSuccess && submitted)" class="offset-sm-1 col-sm-10 alert alert-danger text-center" role="alert">
      <strong>Invalid! </strong>Credentials.
    </div>

    <ngx-loading [show]="loading || (isLoginSuccess && submitted)" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  </div>
</div>-->

<!--NEW Login-->
<div class="body-bck">
  <div class="mainsection block">
    <div class="container-fluid" style="align-content: center">
      <div class="row">
        <div class="col-sm-12 ">
          <div class="row">
          <div class="login_page_logo" style="margin:0 auto;">
            <img src="../../../assets/new-images/Dashboard logo.png" alt="logo" class="img-repsonsive">
          </div>
          <br>
          <h2 class="schoolname">Podar International School</h2></div>
          <div class="wrapper">

            <form class="form-signin" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
              <p class="form-signin-heading">User Login</p>
              <br><br>
              <div [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
                <input type="email" [formControl]="email" class="form-control login-input" name="username" placeholder="Email or Mobile number" style="color: #a6adbc;">
              </div>


              <div [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
                <input type="password" [formControl]="password" class="form-control login-input" name="password" placeholder="Password" style="color: #a6adbc;">
              </div>


              <button class="btn btn-lg login-btn btn-block" [disabled]="!form.valid" type="submit" style="border-radius: 4px;">Login</button>
              <br>
              <div>
                <span class="pull-right">
                                <a  routerLink="/forgot-password" style="color: #3c5a9a; cursor: pointer">forgot Password</a>
              </span>
              </div><br>
              <div *ngIf="(!isLoginSuccess && submitted)" class="offset-sm-1 col-sm-10 alert alert-danger text-center" role="alert">
                <strong>Invalid! </strong>Credentials.
              </div>
            </form>
            <!--<div *ngIf="(!isLoginSuccess && submitted)" class="offset-sm-1 col-sm-10 alert alert-danger text-center" role="alert">
              <strong>Invalid! </strong>Credentials.
            </div>-->
            <ngx-loading [show]="loading || (isLoginSuccess && submitted)" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
          </div>
        </div>
      </div>
    </div>
    <!--<footer>
      <div class="footsec">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="col-sm-6">
                <h6>Copyright GlobexWorld @ 2016.All rights reserved</h6>
              </div>
              <div class="col-sm-6">
                <div class="contactsec">
                  <h6>Terms of Service | Privacy Policy | Contact Us</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
    </footer>-->
  </div>
</div>